body {
	background-color: var(--bg);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.profile-page {
    display: flex;
	align-items: flex-start;
	flex-direction: row;
	min-height: 90vh;
	margin-top: 10vh;
}